<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sdm.ifsp.edu.br.gerenciadorfinanceiro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CadastrarActivity" />
        <activity
            android:name=".activity.OperacoesActivity"
            android:label="@string/title_activity_operacoes" />
        <activity
            android:name=".activity.RelatoriosActivity"
            android:label="@string/title_activity_relatorios" />
        <activity
            android:name=".activity.RelatorioContaActivity"
            android:label="@string/title_activity_relatorio_conta" />
        <activity
            android:name=".activity.RelatorioNaturezaActivity"
            android:label="@string/title_activity_relatorio_natureza" />
        <activity
            android:name=".activity.RelatorioTipoTransacaoActivity"
            android:label="@string/title_activity_relatorio_tipo_transacao"></activity>
    </application>

</manifest>